body{
  background:#e5e5e5;
  color:#252828;
  text-align: center;
}


button{
  color:#ff5e84;
  border:none;
  font-weight: bold;
  background: none;
}

.fat{
  color:white;
  background: #ff5e84;
}

p{
  text-align: center;
}
.esponja{
  color: red;
}

#footer{
  text-align: left;
}

#footer a {
  color:#25282b;
  text-decoration: none;

}

.hide{
  display: none;
}
