body{
  background: #e5e5e5;
  color:#252828;
  text-align: center;
}

button {
    color: #ff5e84;
    border: none;
    font-weight: none;
}

.btn.ideia{
  color:#fff;
  background: #ff5e84; ;
}

.hide{
  display: none;
}
